.sepecility-details-view
{
  background-color: #e2e2e2 !important;
  font-family: Ubuntu,bold,sans-serif !important;
  ion-content{
    overflow: hidden !important;
  }
  .top-content{
    width: 90% !important;
    height: 32% !important;
    margin: 0 auto;
    .specDetail{
      width: 90%;
      margin-top: 4%;
      position: absolute;

    }
    .profile-img {
      width: 18%;
      float: left;
      margin: 1% 0 0 2%;

      img {
        margin-left: 3%;
        margin-top: -5%;
        width: 95%;
      }
    }
    .next-icon {
      width: 5%;
      float: right;
      padding-top: 6%;
      padding-right: 8%;
      position: relative;

      .ion-chevron-right:before {
        color: black;
        font-size: 1.8em;
      }
    }

    .name-content {
      float: left;
      margin: 5% 0 0 1%;
      h4{
            margin-top: 4%;
            font-size: 106%;
            color: black;
            font-family: Ubuntu,bold,sans-serif !important;
            line-height: 50%;
        }
    }
    .specDescription{
      width: 90%;
      height: 33%;
      position: absolute;
      margin-top: 22%;
      margin-top: 5%;
      .description{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        p{
          font-size: 100%;
          margin-top: 23%;
          text-align: center;
        }
      }

    }
  }
  .onlineDocs{
    width: 100% !important;
    // background-color: blue;
      .card{
       padding-top: 0 !important;
       padding-bottom: 0 !important;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      .col{
        padding: 4% !important;
        margin-left: 4%;
      }
      .col-30{
        margin-top: 4%;
      }
      }
  }

  .sendRequest{
    width: 100% !important;
    height: 30% !important;
    margin-top: 8% !important;
    .reqMsg{
      width: 76% !important;
      margin: 0 auto;
      p{
        text-align: center;
      }
    }
    .buttons{
      width: 100%;
      height: 20%;
      margin-top: 8%;
      .button{
        width: 85%;
        margin-left: 8%;
      }
    }
  }
}
