.ViewDoctorProfile-view
{
  background-color: #e2e2e2 !important;
  font-family: Ubuntu,bold,sans-serif !important;

  ionic-content{
    overflow: hidden !important;
  }
  .top-content{
    width: 100%;
    height: 40%;
    .imageContainer{
      width: 30%;
      height: 25% !important;
      margin: 0 auto;
      img{
        width: 100%;
        border-radius: 60%;
        padding: 6%;
        background-color: #dedad7 !important;
        margin-top: 5%;
      }
      i{
        position: absolute;
        padding-left: 23%;
        padding-top: 0;
        margin-top: 2%;
      }
    }
    h1{
      font-size: 130%;
      text-align: center;
      margin-top: 20%;
      line-height: 20%;
    }
    h2{
      font-size: 85%;
      text-align: center;
      width: 80%;
      margin: 0 auto;
    }

  }
  .middle-content{
    width: 100%;
    height: 15%;
    margin-top: -8%;
    position: relative;
    .card{
     padding-top: 0 !important;
     padding-bottom: 0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    .col{
      padding: 4% !important;
      margin-left: 4%;
    }
    .col-30{
      margin-top: 4%;
    }
    }
  }
  .bottom-content{
    width: 100%;
    // background-color: green;
    h4{
      font-size: 130%;
      text-align: center;
      // line-height: 5%;
    }
    h5{
      position: relative;
      margin-top: 15%;
    }
    .buttons{
          margin-top: 0% !important;
          .button{
            width: 85%;
            margin-left: 8%;
          }
    }

  }
  .offline-content{
    width: 100%;
    height: 45%;
    h4{
      font-size: 100%;
      text-align: center;
    }
    .buttons{
          margin-top: 8%;
          .button{
            width: 85%;
            margin-left: 8%;
          }
    }

  }
}
