<ion-view class="doc-reg-2-view" cache-view="false">
  <!-- <ion-header-bar class="bar-header bar-light">

  </ion-header-bar> -->
<ion-content >
  <div class="top-content hide-on-keyboard-open">
      <div class="regTitle">
          <div class="regHeader">
            <div class="backButton " ng-click="goBack();">
              <i class="icon ion-ios-arrow-back" ></i>
              <p>Back</p>

            </div>
                <div class="regFlowImg">
                <img  src="./img/progress1.png" >
                </div>

          </div>
      </div>
  </div>


  <div class="form-content">
    <form name="DocReg1" ng-submit="submitForm($event)" ng-class={submitted:submitted}>
        <div class="form-group" >
          <input type="email" placeholder="Email Address" name="doc_email" ng-model="Doctor.doc_email" validate-email required>
        </div>
        <div class="form-group" >
          <input type='tel' mask-clean='true' placeholder="Mobile Number" ng-model='Doctor.doc_phone' mask='9999999999' restrict="reject" clean="true" required><span class="intlReg">+91</span></input>
        </div>

    </form>
  </div>

  <div class="bottom-content">
    <button class="login_button button button-block button-assertive"  type="submit" ng-click="doctorRegistration(DocReg1.$valid)"  ><span>Next</span></button>
    <!-- <div class="tAndC">
      <div class="terms">
        <h2 > By Signing in, I agree to DoctorQuick's <br/><a ng-click="termsAndCond();">terms and conditions</a>  </h2>
      </div>

    </div> -->

  </div>

</ion-content>
<!-- <ion-footer-bar  >

          <button class="bottom-content login_button button button-block button-assertive"  type="submit" ng-click="validateUser(DocReg.$valid)" linked="link"  ><span>Next</span></button>
          <h2 > By Signing in, I agree to DoctorQuicks <br/><a ng-click="termsAndCond();">Terms and Conditions</a>  </h2>

</ion-footer-bar> -->
</ion-view>
