<ion-view class="add-patient-view" cache-view="false">

  <ion-content scroll="false" >
  <form  novalidate name="addingPatient" ng-submit="sendForm($event)" ng-class={loginDatasubmitted:loginDatasubmitted}>

  <div class="card ">
    <div class="row">
      <div class="col">
        <p >First Name</p>
      </div>
      <div class="col-75">
        <input class="form-control" style="padding: 0 0 0 4%;"  type="text" placeholder="First Name" name="newFname"  ng-model="editPatient.newPatientFname" required></input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p >Last Name</p>
      </div>
    <div class="col-75">
        <input class="form-control" style="padding: 0 0 0 4%;" type="text" placeholder="Last Name" name="newLname"  ng-model="editPatient.newPatientLname" required></input>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">
        <p style="margin: 13% 0 0 1%;">DOB</p>
      </div>
      <div class="col-75" style="padding:2% !important;">
        <input class="form-control"  type="date" placeholder="DOB" name="newLname"  ng-model="editPatient.newPatientDOB" required></input>
      </div>
    </div> -->
    <div class="row">
      <div class="col">
        <p >DOB</p>
      </div>
      <div class="form-group col-75">

        <input type='text' placeholder="DOB"  ng-model="editPatient.newPatientDOB" ng-click="openDatePickerDOB();" ng-value="editPatient.newPatientDOB| date: 'dd-MM-yyyy' " required readonly="true" style="width: 100%; background-color: white; padding: 0 0 0 4%;">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p >Sex</p>
      </div>

      <div class="col-75" >
        <div class="row">
          <div class="col" style="width:50%">
              <ion-radio class="form-control" ng-value="'Male'" ng-model="editPatient.newPatientSex" required><span style="margin: -15px 0 0 -12px; float:left;font-size: inherit;">Male</span></ion-radio>
          </div>
          <div class="col" style="width:50%">
            <ion-radio class="form-control"  ng-value="'Female'" ng-model="editPatient.newPatientSex" required><span style="position: fixed; font-size: inherit; margin: -15px 0 0 -10px;">Female</span></ion-radio>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="buttons">
   <button  class="button button-block button-assertive" ng-click="editNewPatient(editPatient);">Save</button>
 </div>
</form>
  </ion-content>
</ion-view>
