<ion-view class="patientscreen-view" cache-view="false" >

  <ion-content scroll="false" navClear class="has-header">

    <div class="slider-content" ng-show="firstConsultationDone">
      <ion-slide-box does-continue="true" auto-play="true" class="slides" show-pager="true" class="with-my-pager">


        <ion-slide>
        <img src="img/welcome.jpg" width="100%" height="50%" >
        </ion-slide>
        <ion-slide>
        <img src="img/welcome2.jpg" width="100%" height="50%" >
        </ion-slide>


      </ion-slide-box>
    </div>
    <div class="slider-content" ng-hide="firstConsultationDone">
      <ion-slide-box does-continue="true" auto-play="true" class="slides" show-pager="true" class="with-my-pager">


        <ion-slide>
        <img src="img/welcome.jpg" width="100%" height="50%" >
        </ion-slide>

      </ion-slide-box>
    </div>
      <ion-item class="item-divider">Find a Doctor</ion-item>

      <div class="patientScreen-bottom-content">
        <ul>
        <li  ng-click="medicalSpeciality();">
          <div class="profile-img">
            <img src="./img/dq_icon_specialities_medium_720x1280.png">
          </div>
          <div class="name-content">
            <h2>Medical Speciality</h2>
            <p>Consult a Doctor specific to your problem</p>
          </div>
          <div class="next-icon">
            <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
        </li>
        <li ng-click="searchDoctors();" >    <!--ui-sref="app.searchDoctors"  -->
          <div class="profile-img">
            <img src="img/dq_icon_search_720x1280.png">
          </div>
          <div class="name-content">
            <h2>Search</h2>
              <p>Search Doctor by name or speciality</p>
          </div>
          <div class="next-icon">
            <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
        </li>

        <li  ng-click="myDoctors();"><!-- ui-sref="app.my_doctors"-->
          <div class="profile-img">
            <img src="img/dq_icon_doctor_720x1280.png">
          </div>
          <div class="name-content">
            <h2>My Doctors</h2>
            <p>Doctors you have recently consulted</p>
          </div>
          <div class="next-icon">
            <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
        </li>
      </ul>
      </div>



  </ion-content>
</ion-view>
