<ion-view class="patient-payment-view" cache-view="false" >
  <ion-content scroll="false">
    <div class="top-content" ng-repeat="bal in patientWalletdetails">
      <div class="accDetails">
        <div class="walletDetails">
          <div class="walletLogo">
            <img ng-src="img/dq_icon_payments_large_540x960.png" >
          </div>
          <h1>DoctorQuick Deposit</h1>

        </div>
        <div class="balanceAmt ">
            <p>Balance <span> ₹ {{bal.credit-bal.debit}}</span></p>
        </div>
        <div class="buttons">
                <div class="refund">
                  <button  type="submit" class="button button-balanced button-calm" ui-sref="app.refund_patient({credit:bal.credit,debit:bal.debit})">
                     Refund
                    </button>
                </div>
                <div class="topup" >
                  <button class="button button-balanced button-stable"  ui-sref="app.patient_topup">
                    Topup
                  </button>
                </div>
        </div>

      </div>

    </div>
    <ion-item class="item-divider">Transaction History</ion-item>
<!-- <ion-scroll direction="y"> -->
    <div class="bottom-content" >
      <!-- <ion-scroll direction="y" > -->
        <ul>
        <li ng-repeat="doc in doctorsList">
          <div class="profile-img">
            <img  ng-hide="doc.docImage2 == null " ng-src="{{doc.docImage2}}"   >
            <img  ng-show="doc.docImage2 == null " ng-src="img/dq_icon_payments_large_540x960.png"  >
          </div>
          <div class="name-content">
            <div class="name">
              <h2 ng-hide="doc.doctorFname == null ">Dr. {{doc.doctorFname}} {{doc.doctorLname}}</h2>
              <h2 ng-show="doc.doctorFname == null ">Deposit</h2>

            </div>
            <div class="date">
              <!-- <p>{{doc.debitedDatetime | date:'yyyy-MM-dd'}}</p> -->

            </div>

            <p class="msgContent" ng-hide="doc.creditedDatetime == null "><font size=2>{{doc.creditedDatetime}}</font></p>
            <p class="msgContent" ng-show="doc.creditedDatetime == null "><font size=2>{{doc.debitedDatetime}}</font></p>

            <!-- <p class="badge badge-assertive chatCount">{{ 1 }}</p> ₹-->

          </div>
          <div class="next-icon">
            <p ng-hide="doc.amountDeducted == null " >₹{{doc.amountDeducted}}</p>
            <p ng-show="doc.amountDeducted == null ">₹{{doc.amountCredited}}</p>
          </div>
        </li>

      </ul>
       <!-- </ion-scroll> -->


    </div>
  <!-- </ion-scroll > -->
  </ion-content>

</ion-view>
