<ion-view class="add-patient-view" cache-view="false">

  <ion-content scroll="false" >

    <div class="myDoctor-list"  >
      <div class="profile-img" >

      </div>

      <div class="name-content">
        <div class="name" ui-sref="app.addSubPatient">
          <!-- <ionic-letter-avatar data="{{sub.newPatientFname}}">{{sub.newPatientFname}}  {{sub.newPatientLname}}</ionic-letter-avatar> -->
          <center>
            <i class="icon ion-android-add " style="position: absolute; font-size: 5vh; margin-left: -22%; margin-top: -1%;"></i>
            <h4 style="margin: 5% 0 0 5%; font-family: inherit;"> Add Patient  </h4>
          </center>
        </div>

      </div>

      <ul>



        <li ng-repeat="def in defaultPatient">

          <!-- <div class="profile-img" >
            <img  ng-hide="def.image == null "ng-src="{{def.image}}" >
            <img  ng-show="def.image == null " ng-src="img/patientAvatar.png">
          </div> -->

          <div class="name-content" ng-click="selectSubPatient(0)">
            <div class="name" >
              <!-- <ionic-letter-avatar data="{{sub.newPatientFname}}">{{sub.newPatientFname}}  {{sub.newPatientLname}}</ionic-letter-avatar> -->
              <h2 style="margin: 5% 0 0 5%;"> {{def.patientFname}}  {{def.patientLname}}  </h2>
            </div>

          </div>

        </li>
      <li ng-repeat="sub in subPatients" >

        <!-- <div class="profile-img" >
          <img  ng-src="img/patientAvatar.png">

        </div> -->

        <div class="name-content" ng-click="selectSubPatient({{sub.id}})">
          <div class="name" >
            <!-- <ionic-letter-avatar data="{{sub.newPatientFname}}">{{sub.newPatientFname}}  {{sub.newPatientLname}}</ionic-letter-avatar> -->
            <h2 style="margin: 5% 0 0 5%;"> {{sub.newPatientFname}}  {{sub.newPatientLname}}  </h2>
          </div>

        </div>

        <div class=" row next-icon" >
          <div  class="col" ng-click="editNewPatient({{sub}})" style="margin: 0 0 0 30px;">
            <i class="icon ion-edit" ></i>
          </div>
          <div  class="col" ng-click="deleteNewPatient({{sub}})">
            <i class="ion-android-delete" style="margin: 0 0 0 20px;"></i>
          </div>
        </div>
        <!-- <div  ng-click="editNewPatient({{sub}})">
          <i class="ion-android-delete" ></i>
        </div> -->
      </li>
    </ul>
    </div>


  </ion-content>
</ion-view>
