<ion-view class="ViewDoctorProfile-view" cache-view="false">

  <ion-content scroll="false">
    <div class="top-content"  ng-repeat="mydocs in myDocDetails1">
      <div class="imageContainer">
        <!-- {{example.value}} -->
        <i class="icon ion-android-add-circle" ng-show="{{mydocs.onoff == 1}}"></i>
        <i class="icon ion-android-arrow-dropdown-circle" ng-show="{{mydocs.onoff == 2}}"></i>
        <!-- <img class="item-icon-right" ng-src="img/doc.jpg" > -->
        <img  ng-hide="mydocs.docImage2 == null "ng-src="{{mydocs.docImage2}}"   >
        <img  ng-show="mydocs.docImage2 == null " ng-src="img/doc.jpg" >
      </div>
      <h1>Dr. {{mydocs.doctorFname |capitalize}} {{mydocs.doctorMname |capitalize}} {{ mydocs.doctorLname |capitalize}} </h1>
      <h2 class="dont-break-out">{{mydocs.doctorDegrees}}<br><b>Practicing since {{mydocs.practicingSince}}</b></h2>

    </div>

    <div class="middle-content" ng-repeat="mydocs in myDocDetails1">
      <div class="card " ng-show="{{mydocs.ratingCount >5}}">
        <div class="row">
          <div class="  col">
            Rating
          </div>
          <div class=" col" ng-repeat="mydocs in myDocDetails1">
            {{mydocs.ratings/mydocs.ratingCount | number:1 }}/{{mydocs.ratingCount}}
            <!-- {{mydocs.ratings/mydocs.ratingCount | number:1 }}({{mydocs.ratingCount}} Reviews) -->
          </div>


          <div class="col ">

            <span class="stars " ng-show="{{mydocs.ratingCount == 0}}">
              <span ng-style="{ 'width': getStars(0) }"></span>
            </span>
            <span class="stars " ng-show="{{mydocs.ratingCount != 0}}">
              <span ng-style="{ 'width': getStars(mydocs.ratings/mydocs.ratingCount) }"></span>
            </span>

              <!-- <span ng-repeat="rating in ratings">
                <div star-rating rating-value="mydocs.ratings/mydocs.ratingCount" max="rating.max" style="margin:0 !important;"></div>
              </span> -->
          </div>

        </div>
      </div>
      <div class="card " style="margin-top: -4%;" ng-click="changePatient();">
        <div class="row" >
          <!-- ui-sref="templates.addNewPatient" -->
              <div  class="col col-75" class="item-icon-right"  ng-hide="defaultPatient" ng-repeat="def in patient_details">Patient : {{def.patientFname}} {{def.patientLname}}</div>
              <div class="col col-75"  class="item-icon-right"  ng-show="defaultPatient" ng-repeat="subPat in newPAtient">Patient : {{subPat.newPatientFname}} {{subPat.newPatientLname}}</div>
              <i class="icon ion-chevron-right icon-accessory" style="margin-left: 17%; margin-top: 5%;"></i>

              <div class="col">

              </div>
        </div>

      </div>
    </div>

    <div class="bottom-content"  ng-repeat="mydocs in myDocDetails1" >
        <div class="buttons" ng-show="{{mydocs.onoff == 1}}">
          <center><h5>Request a consultation via</h5></center>

          <button type="submit" class=" button button-block button-assertive" ng-disabled="onceClicked" ng-click="callMyDoc({{mydocs.doctorPhone}},6);">
            Voice Call
          </button>
          <button type="submit" class="button button-block button-assertive" ng-disabled="onceClicked" ng-click="callMyDoc({{mydocs.doctorPhone}},5);">
            Video Call
          </button>

          <div ng-hide="{{firstConsultationDone == true}}"><center><h4 style="margin-top: 7%;">Consultation Fee:₹{{mydocs.doctorFee}}</h4></center></div>
          <div ng-show="{{firstConsultationDone == true}}"><center><h4 style="margin-top: 7%;">Free Consultation</h4></center></div>

        </div>


        <div class="buttons"  ng-repeat="mydocs in myDocDetails1" ng-show="{{mydocs.onoff == 2}}">
            <h4 style="margin-top: 20%">Dr.{{mydocs.doctorFname |capitalize}} is offline.<br>You may request a consultatiion <br>by sending a notification.</h4>
            <div class="buttons">

              <button type="submit" class="button button-block button-assertive" ng-click="sendOfflineMessage({{mydocs.doctorPhone}});">
                Send Notification
              </button>

            </div>
        </div>

    </div>


  </ion-content>
</ion-view>
