.doctor-acc-view
{
  background-color: #e2e2e2 !important;
  font-family: Ubuntu,bold,sans-serif !important;
  .item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
 }

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  fill: #999;
}
  .top-content{

      height: 30vh;
    .pay-logo{
      width: 12%;
      height: 32%;
      margin: 0 auto;
      padding-top: 10vh;
    }
    h1{
      font-family: inherit;
      font-size: 7vw;
      text-align: center;
      line-height: 0;
      padding-top: 8vh;
    }
    .bal-info{

        margin-top: 8vh;
      .balance-content{

        height: 10%;
        width:90%;
        margin: 0 auto;
        p{
          font-size: 6vw;
          font-family: inherit;
          span{
            float: right;
            font-size: 7vw;
          }
        }
      }
    }
  }
  .item-divider{
    text-align: center;
    width: 100% !important;
    height: 7vh;
    background-color: #dbdbdb;
    border-top: 1px solid #fff;
    padding-top: 2%;
    margin-top: 3%;
    padding-top: 2vh;
    margin-top: 6vh;

  }
  .calender-container{
    //background-color: blue;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    margin: 0 auto;
    height: 10vh;

    .date-container{
      //background-color: blue;
      margin-top: 2vh;
      margin: 0 auto;
      padding-top: 2vh;
      .from-date{
        height: inherit;
        width: 44%;
        background-color: white;
        float: left;
        margin-left: 4% !important;
        p{
           margin-top: 2vh;
           margin-left: 2vw;
           font-family: inherit;
           font-size: small;
           font-weight: bold;
         }


      }

      .to-date{
        height: inherit;
        width: 44%;
        background-color: white;
        float: right;
        margin-right: 4% !important;
        p{
           margin-top: 2vh;
           margin-left: 2vw;
           font-family: inherit;
           font-size: small;
           font-weight: bold;
         }

      }

    }

  }
  .bottom-content{

    height: 50vh;
    overflow: scroll !important;
    li {
      height: 24%;
      border-bottom: 1px solid #fff;

      @include clearfix();

      &:first-child {
        //box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
      }

      &:last-child {
        border-bottom: none !important;
        margin-bottom: 10px auto;
      }

      .profile-img {
        width: 15vw;
        float: left;
        margin: 2vh 0px 0px 2vh;

        img {
            width: 12vw;
          border-radius: 55%;

        }
      }

      .next-icon {
          width: 4vw;
          float: right;
          text-align: center;
          margin-right: 10px;
          height: 100%;
          line-height: 14vh;

      p {

          font-size: 1.8em;
        }
      }

      .name-content {
        //float: left;
        padding: 2vh 2vh;
        height: 100%;

        p{
            font-size: 3.2vw;
            line-height: 2.8vh;
            margin: 0px;

          }

        h2{
            margin: 0px;
            font-size: 5vw;

            font-family: Ubuntu,bold,sans-serif !important;
            line-height: 6vw;
            span{
              float: right;
            }
          }
      }

    }
  }

  .date-picker {
    margin: 200px auto;
  }

  .date-picker {
    width: 260px;
    height: auto;
    max-height: 50px;
    background: white;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out;
  }
  .date-picker .input {
    width: 100%;
    height: 50px;
    font-size: 0;
    cursor: pointer;
  }
  .date-picker .input .result, .date-picker .input button {
    display: inline-block;
    vertical-align: top;
  }
  .date-picker .input .result {
    width: calc(100% - 50px);
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    padding: 0 10px;
    color: grey;
    box-sizing: border-box;
  }
  .date-picker .input button {
    width: 50px;
    height: 50px;
    background-color: #8392A7;
    color: white;
    line-height: 50px;
    border: 0;
    font-size: 18px;
    padding: 0;
  }
  .date-picker .input button:hover {
    background-color: #68768A;
  }
  .date-picker .input button:focus {
    outline: 0;
  }
  .date-picker .calendar {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 0px;
    overflow: hidden;
  }
  .date-picker .ui-datepicker-inline {
    position: relative;
    width: 100%;
  }
  .date-picker .ui-datepicker-header {
    height: 100%;
    line-height: 50px;
    background: #8392A7;
    color: #fff;
    margin-bottom: 10px;
  }
  .date-picker .ui-datepicker-prev, .date-picker .ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
  }
  .date-picker .ui-datepicker-prev {
    float: left;
    margin-left: 12px;
  }
  .date-picker .ui-datepicker-prev:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: -43px 0px 0px 8px;
  }
  .date-picker .ui-datepicker-next {
    float: right;
    margin-right: 12px;
  }
  .date-picker .ui-datepicker-next:after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin: -43px 0px 0px 6px;
  }
  .date-picker .ui-datepicker-prev:after, .date-picker .ui-datepicker-next:after {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  .date-picker .ui-datepicker-prev:hover, .date-picker .ui-datepicker-next:hover, .date-picker .ui-datepicker-prev:hover:after, .date-picker .ui-datepicker-next:hover:after {
    border-color: #68768A;
  }
  .date-picker .ui-datepicker-title {
    text-align: center;
  }
  .date-picker .ui-datepicker-calendar {
    width: 100%;
    text-align: center;
  }
  .date-picker .ui-datepicker-calendar thead tr th span {
    display: block;
    width: 100%;
    color: #8392A7;
    margin-bottom: 5px;
    font-size: 13px;
  }
  .date-picker .ui-state-default {
    display: block;
    text-decoration: none;
    color: #b5b5b5;
    line-height: 40px;
    font-size: 12px;
  }
  .date-picker .ui-state-default:hover {
    background: rgba(0, 0, 0, 0.02);
  }
  .date-picker .ui-state-highlight {
    color: #68768A;
  }
  .date-picker .ui-state-active {
    color: #68768A;
    background-color: rgba(131, 146, 167, 0.12);
    font-weight: 600;
  }
  .date-picker .ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent;
  }
  .date-picker.open {
    max-height: 400px;
  }
  .date-picker.open .input button {
    background: #68768A;
  }
}
