.inviteResults-view{

  background-color:#e2e2e2 !important;

  .selected{
    width: 90% !important;
    margin: 0 auto;
}

    p{
      text-align: center;
      font-size: 4vw;
      margin-top: 4%;

    }
  .clear-field{
    color:#343434;
    margin-top: 4vh ;
    margin-left: 3vw;
    font-size: 4vw;
    font-weight: 300;
  }
  .done{
    color:#343434;
    margin-top: 4vh ;
    margin-left: 60vw;
    font-size: 4vw;
    font-weight: 300;
  }
  .text-area-content{
    width: 90%;
    height: 40%;
    margin: 0 auto;
    padding-top: 1vh;
    textarea {
        height: 25vh !important;
        height: 25%;
        font-family: inherit;
    }
  }

}
