.terms-view{
    font-family: Ubuntu,bold,sans-serif !important;
    background-color: #e2e2e2;

    .terms-content{
      width: 90%;
      height: 100%;
      height: 100vh;
      margin: 0 auto;
      li{
        margin-top: 1vh;
      }

    }
}
