<ion-view class="consultationList-view" cache-view="false">

  <ion-content >
    <div class="myDoctor-list" >
      <ul>
      <li ng-repeat="patient in myPatients" ng-click="clicktochat(patient.patientPhone);">

        <div class="profile-img">
          <img src="{{patient.image}}">
          <p class="chatCount"> {{patient.unreadCount}} </p>

        </div>

        <div class="name-content">
          <div class="name" >
            <h2 >{{patient.patientFname}}  {{patient.patientLname}}   </h2>
          </div>
          <div class="dateTime"> {{patient.date | date: 'dd-MM-yyyy'}} </div>
          <div class="message"> {{patient.message}} </div>
        </div>

        <div class="next-icon">
          <i class="icon ion-ios-arrow-right"></i>
        </div>

      </li>
    </ul>

      <ul>
        <li ng-show="!myPatients.length" style="margin-top: 8vh;"><center><b style="color:teal;">No Consultations</b></center></li>
      </ul>
    </div>

  </ion-content>
</ion-view>
