<ion-view class="patient-request-view" cache-view="false">

  <ion-content scroll="false" ng-repeat=" pat in reqPatDetails">

    <div class="top-content">
      <div class="imageContainer">
        <img  ng-src="{{pat.image}}" >
        <!-- <img  ng-src="img/patientAvatar.png"  > -->
      </div>
      <h1>{{pat.patientFname}} {{pat.patientLname}}</h1>
      <h2>{{pat.patientSex}},Age:{{pat.patientAge}}</h2>
      <!-- <h4>{{pat.id}}</h4> -->

    </div>

     <i class="icon ion-ios-clock-outline " ng-hide="timer"></i>
    <div class="callReq" ng-hide="callReq">
      <h4>Requested a consultation</h4><!--Consultation accepted ion-android-time-->
      <h5>{{requestedDUration}}</h5><!--Please wait for the call-->
    </div>
    <div class="callAcc" ng-hide="callAcc">
      <h4 class="item-icon-right">Consultation Accepted</h4><!--Consultation accepted-->
      <h5>Please wait for the call</h5><!--Please wait for the call ion-ios-checkmark-empty -->
    </div>
  <ion-footer-bar class="row row-bottom bottom">
  <div class="bottom-content row">

      <div class="button-bar">
        <a class="deny-btn button-calm button {{(type == 'Decline') &&  'active' || ''}}" ng-click="setType($event)" ng-disabled="isDisabled" >Decline</a>
        <a class="accpt-btn button-calm button {{(type == 'Accept' || type == 'Accepted')  &&  'active' || ''}}" ng-click="setType($event)" >{{toggleText}}</a>
      </div>

  </div>
 </ion-footer-bar>
</ion-content>

</ion-view>


<!--
        <p class="timer">{{CurrentDate | date:'yyyy-MM-dd HH:mm:ss '}}</p>
        <h5>{{dateDiff}}</h5> -->
