<ion-view class="call-view" cache-view="false">
  <ion-nav-title>
   <span>Call</span>
 </ion-nav-title>
  <ion-content scroll="false" >

    <div class="top-content"  >
      <div class="imageContainer">
        <img class="item-icon-right" ng-src="img/doc.jpg" >
      </div>
      <h1>{{pfname}} {{plname}}</h1>
      <h2>{{psex}},Age:{{page}}</h2>

    </div>
    <div class="middle-content">
      <h2>Call Ended</h2><!--Consultation accepted-->
      <h3>If call ended unexpectedly<br> please wait for the callback</h5><!--Please wait for the call-->
    </div>

    <div class="bottom-content">
      <button class=" button button-block button-assertive"  ui-sref="templates.notesForPatient({calPtFname:pt.patientFname,calPtLname:pt.patientLname,calPtPh:pt.patientPhone,calPtImage:pt.image})">End Consultation</button>
    </div>
  
  </ion-content>
</ion-view>
