.myFavDoctor-profile-view
{
  background-color:#e2e2e2 !important;// $profile-bg !important;
  font-family: Ubuntu,bold,sans-serif !important;

  .myDoctor-list
  {
      width: 100%;
      // height: 90%;
      // box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
      overflow: scroll !important;
    li {
      height: 18%;
      border-bottom: 2px solid #dadada;
      @include clearfix();

      &:first-child {
        //box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
      }

      &:last-child {
        border-bottom: none !important;
        margin-bottom: 10px auto;
      }

      .profile-img {
        width: 18%;
        float: left;
        margin: 5% 0 0 2%;

        img {
          position: absolute;
          // width: 30%;
          border-radius: 50%;
        }
      }



      .name-content {
        float: left;
        padding: 5% 0 0 3%;
        height: 100%;
        width: 70%;

        p{
          font-size: 74%;
          margin: 0% 2%;
          color: black;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          }


        h2{
            margin: 2%;
            font-size: 125%;
            color: black;
            font-family: Ubuntu,bold,sans-serif !important;
            line-height: 50%;
          }
          .rating{
                margin: 0% !important;
          }
      }

    }

  }
  img{
    width: 25%;
    border-radius: 50%;
  }
  .doctorDetails{
    position: absolute;
    margin: -18% 0 0 23%;
    h2{
      margin-top: 1%;
    font-size: 90%;
    /* color: black; */
    font-family: Ubuntu,bold,sans-serif !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    h3{
      margin-top: 1%;
      font-size: 90%;
      /* color: black; */
      font-family: Ubuntu,bold,sans-serif !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: absolute;
      width: 65vw;
    }
    h4{
      margin-top: 10%;
      font-size: 90%;
      /* color: black; */
      font-family: Ubuntu,bold,sans-serif !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 65vw;
    }
    .degrees{
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 55%;
    }
  }
  .next-icon {
    width: 5%;
    float: right;
    margin: -24% -9% 0 0;

    .ion-chevron-right:before {
      color: black;
      font-size: 1.8em;
    }
  }
  .totalReview{
    // margin-left: 38%;
    // margin-top: -1%;
    // text-overflow: ellipsis;
    // position: relative;
    // margin-top: -15px;
    position: absolute;
        margin: -8% 0 0 52%;
  }

}
