
ion-app, ion-nav, ion-tab, ion-tabs, .app-root{
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: red;
}

.hide{
  display:block !important;
  visibility: visible !important;

}
.keyboard-open .hide-on-keyboard-open {
    display: none !important;

}
// Respnsive video player
.hide{
  display: block !important;
}
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  // hyphens: auto;

}
.video-wrapper {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
	position: relative;

	embed,object,iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

// Modal window
.modal {
	label {
		cursor: pointer;
		font-weight: normal;
		margin-bottom: 0;
	}

	.modal-state {
		display: none;
	}

	.modal-fade-screen {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.85);
		opacity: 0;
		visibility: hidden;
		z-index: 999;
		transition: opacity 0.25s ease;
	}

	.modal-close {
		position: absolute;
		top: -3rem;
		right: -3rem;
		font-size: 2rem;
		color: #fff;
		cursor: pointer;
	}

	.modal-inner {
		width: 80%;
		height: auto;
		position: relative;
		background-color: transparent;
		transition: opacity 0.25s ease;
	}
	.modal-state:checked + .modal-fade-screen {
		opacity: 1;
		visibility: visible;
	}
}

.modal-open {
	overflow: hidden;
}

.modal-closed {
	overflow: auto;
}

// Based on code by Kasper Mikiewicz
// Other Styling
// ---------------------------------
section {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}



// General reset styles

input[type="checkbox"] {
   // Hide content via default
   & + span {
     visibility: hidden;
     opacity: 0;
     transition: visibility 0s linear 0.33s, opacity 0.33s linear;
   }

   // Show if checkbox is clicked
   &:checked + span {
     visibility: visible;
     opacity: 1;
     transition-delay: 0s;
   }
 }
span.stars, span.stars span {
    display: block;
   /* Download the star image here: http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
    background: url('../img/stars123.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
    margin-left: 0px;
}

span.stars span {
    background-position: 0 0;
}

.alignright {
  float:right;
}


.intl{
  position: absolute !important;
  margin: -11% 0 0 2% !important;
  font-size: 100% !important;
}
.intlReg {
    position: absolute !important;
    margin: -10% 0 0 2% !important;
    font-size: 100% !important;
}
h5.menu-text{
  margin-top: 8%;
  font-size: 100%;
}
    ion-side-menu ion-item.item .menu-text {
        font-family: Ubuntu,bold,sans-serif !important;
        font-size: 100%;
    }


.button .button-block .button-assertive .activated{
  background-color: red !important;
}
.ng-animate .scroll-bar {
  visibility: visible !important;
}
ion-content.scroll-content.ionic-scroll {
  -webkit-overflow-scrolling: touch !important;
  overflow: scroll !important;
    padding-bottom: 0 !important;
}
scroll-bar-indicator{
    height: 6%;
    width: 300%;
}
.scroll-bar-fade-out{
  opacity:1 !important

}
// ion-content.scroll-content.ionic-scroll{
//   height: auto !important;
//   overflow: visible;
// }
.spinner-android {
    stroke: #489808 !important;
}


.timer{
    margin: 20vh 0 0 33vw !important;
    font-family: inherit !important;
    font-size: 5vw !important;
    position: relative !important;
}
//!!!!!!!!!!!!!!!!!!!!!!!!SLIDING TOGGLE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.statusDiv{
  //background-color: #007460;
    width: 100%;
    position: relative;
    margin-top: 15% !important;
    margin-left: 33% !important;
    .onlineImg{
      width: 38% !important;
      height: 9% !important;
      position: relative !important;
      margin-left: -39% !important;
      transition: all linear 0ms !important;
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
    .offlineImg{
      width: 38% !important;
      height: 9% !important;
      position: relative !important;
      transition: all linear 0ms !important;
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
}

.demoButton{
  width: 100%;
    position: relative;
    margin-top: 38% !important;
    margin-left: 7% !important;
    p{
      color: white;

    }
}

.sideMenuToggle{

      position: absolute;
      margin-top: -16%;
      margin-left: 70%;
      height: 15%;
      width: 25%;
      z-index: 2;


}
.docSidemenuToggle{
    position: absolute;
    margin-top: -16%;
    margin-left: 70%;
    height: 10%;
    z-index: 2;
}

////////////////////////////////////////////////////////////////////////////////
.toggle-small .toggle-assertive input:checked + .track {
    background-color: rgb(106, 164, 51) !important;
    width: !important;
}
.toggle-small .track {
    border: 0;
    width: 34px;
    height: 15px;
    background: #ff0000;
    width: 25vw !important;
    height: 5vh !important;
}

.toggle-small .handle {
    top: 2px;
    left: 4px;
    width: 21px;
    height: 21px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    width: 11vw !important;
    height: 6vh !important;
}

.toggle-small input:checked + .track .handle {
    -webkit-transform: translate3d(16px, 0, 0);
    transform: translate3d(19vw, 0, 0);
    background-color: #ffffff !important;
}
.toggle-small input:checked + .track .handle {
    -webkit-transform: translate3d(16px, 0, 0);
    transform: translate3d(15vw, 0, 0);
    background: #009689;
}
.slidingToggle{
  background-color: transparent !important;
  border: none !important;
  height: 10vh !important;

}
.togglePosition{
  top: 6vh !important;
  right: 30vw !important;
}
.docAvailable
{

    width: 16vw !important;
    font-size: 3.5vw !important;
    font-weight: bold !important;
    color: white !important;
    position: relative;
    margin: 0.5vh 0 0 41vw !important;
    z-index: 2;
}
.docNotAvailable
{
  width: 16vw !important;
  font-size: 3.5vw !important;
  font-weight: bold !important;
  color: white !important;
  position: relative;
  margin: 0.5vh 0 0 51vw !important;
  z-index: 2;
}
.item-toggle .toggle {
      z-index: -1 !important;
}
//!!!!!!!!!!!!!!!!!!!!!!!!SLIDING TOGGLE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


.badge.badge-stable {
    background-color: t;
    color: #fff;
}

.item-radio {
    padding: 0;
    border: none;
    font-family: Ubuntu,bold,sans-serif !important;
}
.icon-badge{
  margin: 3px 0 0 18px ;
}
.assertive {
    background-color: #a1483e;
    color: #fff;
}
.SearchHeader{
    border-bottom: 2px solid #e2e2e2 !important;
    margin-top: -4vh;
    h4{
      font-family: Ubuntu,bold,sans-serif !important;
      text-align: center !important;
    }
}
.OnlineStatus{
  border-color: #0e1015 !important;
    border-bottom: none !important;
}
ion-side-menu ion-item.item {
    border-color: #0e1015 !important;
}
.toggle-small .toggle-calm input:checked + .track .handle {
    background-color: #e2e2e2;
}

.notification-txt-cls {

  position: absolute;
  top: 3vh;
  color: #fff !important;
  left: 24vw;
  margin-left: 10vw;
    margin-top: .5vh;
    z-index: 100;
    font-size: 2.5vw;
  }

.toggle.toggle-assertive input:checked + .track .notification-txt-cls {
  left: 4vw !important;
}

.toggle-small .toggle-calm input:checked + .track {
    background-color: rgb(82, 124, 48);
}
.platform-android .bar .title {
    color: red !important;
    left: 0 !important;
    right: 0 !important;
}
.platform-ios .bar .title {
    color: red !important;
    left: 0 !important;
    right: 0 !important;
}
 .title .title-center .header-item{
   color: red;
  left: 0 !important;
  right: 0 !important;
}
ion-side-menu.menu-left.menu {
  background-color: teal !important;
}

.title .title-left .header-item{
  left: 0px !important;
  right: 0px !important;
}
.item-radio input:checked + .radio-content .item-content {
    background: #ffffff;
}
.item-radio input:checked + .radio-content .radio-icon {
    visibility: visible;
    color: #6aa13e;
    margin: -4px 0 0 0;
}
.css-form input.ng-invalid.ng-touched {
    border-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    border-color: #78FA89;
  }

  .loginDatasubmitted input.ng-invalid:not(:focus) {
    border:2px solid red;
  }
  .loginDatasubmitted label input.ng-invalid:not(:focus) {
    border:2px solid red;
  }

.submitted input.ng-invalid:not(:focus) {
  border:2px solid red;
}
.submitted label input.ng-invalid:not(:focus) {
  border:2px solid red;
}
.topUp input.ng-invalid:not(:focus) {
  border:2px solid red;
}
.submitted2ndPage input.ng-invalid:not(:focus){
  border:2px solid red;
}
.submittedAge input.ng-invalid:not(:focus){
  border:2px solid red;
}
.submittedMob input.ng-invalid:not(:focus) {
  border:2px solid red;
}
.submittedSex input.ng-invalid:not(:focus) {
  border:2px solid red;
}
.submittedMail input.ng-invalid:not(:focus) {
  border:2px solid red;
}
.submittedPwd input.ng-invalid:not(:focus) {
  border:2px solid red;
}
.input-group {
    position: relative;
    display: table;
    /* border-collapse: separate; */
    width: 80%;
    height: 16%;
    margin: 0 auto;
}
.input-group .form-control {
    display: table-cell;
    height: 100%;
}

.input-group-addon:not(:first-child):not(:last-child){
  background-color: white;
    border: none;
    display: table-caption;
    position: absolute;
    top: 34% !important;
    left: 1% !important;
}

.input-group .form-control:last-child{
  border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 0% 0 0 0%;
}
.input-group-focus {
  border-radius:4px;
  -webkit-transition: box-shadow ease-in-out .15s;
          transition: box-shadow ease-in-out .15s;
}
.input-group-addon {
  border: none;
    padding: 2px 4px 2px 4px !important;
  -webkit-transition: border-color ease-in-out .15s;
          transition: border-color ease-in-out .15s;
}
.input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
}
.has-error.input-group.input-group-focus,
.has-error .input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
}
.has-warning.input-group.input-group-focus,
.has-warning .input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
}
.has-success .input-group.input-group-focus,
.has-success .input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b !important;
}
.input-group-focus input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.input-group-focus .input-group-addon {
  // border-color: #66afe9 !important;
  border-color: none !important;

}
.has-error .input-group-addon {
  border-color: #843534 !important;
}
.has-success .input-group-addon {
  border-color: #2b542c !important;
}
.has-warning .input-group-addon {
  border-color: #66512c !important;
}


.platform-android.has-translucent-status-bar .header-title{
    height: 80px;
    padding-top: 40px;
 }

.bar.app-top-bar .title * {
    color: #FFFFFF !important;
    font-family: Ubuntu,bold,sans-serif !important;
    font-size: 100%;
    transform: translate3d(10px, 0px, 0px) !important;
    // text-align: center !important;
    // left: 0 !important;
    // right: 0 !important;

}
.title .title-center .header-item{
      transform: translate3d(0px, 0px, 0px) !important;
}

.checkbox input:before, .checkbox-icon:before {
    display: table;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 28px;
    border-color: teal;
    background: #fff;
    content: ' ';
    -webkit-transition: background-color 20ms ease-in-out;
    transition: background-color 20ms ease-in-out;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
background: #fff;
border-color: #579696;
}

.checkbox input:after, .checkbox-icon:after {
-webkit-transition: opacity 0.05s ease-in-out;
transition: opacity 0.05s ease-in-out;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
position: absolute;
top: 33%;
left: 25%;
display: table;
width: 14px;
height: 6px;
border: 1px solid teal;
border-top: 0;
border-right: 0;
content: ' ';
opacity: 0;
}
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.centerme {
    margin: 0 auto;
    width: 100%;
    height:100%;
}

.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}
.rating {
    color: #a9a9a9;
    margin: -15%;
    padding: 0;

}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border: none !important;
  font-size: 100%;
}
.rating .filled {
    color: #ffb14c;
    border: none !important;
    font-size: 100%;
}

/* for Rting Stars*/


.bar-footer {
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    /* background-position: top; */
    height: 12%;
    background-color: transparent;
}


.bar {
    border: none;
    /* background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%); */
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
}

.notificationOn{
	margin-top: 1vh;
}
.dqAlerts{
  .popup{
    border-radius: 2%;
  }
  .popup-head {
    padding: 0% !important;
  }
  .popup-title {

  }
  .popup-body{
      text-align: center;
    span{

    }
  }
}
.loginPopupNew{
  top: 60% !important;
  height: 25% !important;

      .popup{
        background-color: #af262d !important;
        width: 100% !important;

      }

      .popup-head {
            padding: 0 !important;
            border-bottom: none;
            text-align: center;
            overflow: hidden !important;
      }
      .popup-body{
        padding: 0% !important;
        overflow: hidden !important;
        height: 60% !important;
        margin: 0 auto;
        width: 80%;
        .heading{
          background-color: green !important;
          p{
            color: #fff !important;
          }
        }
        .errorContent{
          color: #fff !important;
          width: 100% !important;
        padding: 1% !important;
          p{
            font-size: smaller;
            color: inherit;
          }
        }

      }
}
.loginPopup {
    position: relative !important;
    margin-top: 140% !important;
    // margin-top: 152% !important;//for ios build

      .popup-body{
        padding: 0% !important;
        overflow: hidden !important;
        margin: 0 auto;
        width: 80%;
        .heading{
          margin-left: 10%;
          margin-top: 1%;
          p{
            color: #fff !important;
          }
        }
        .errorContent{
          color: #fff !important;
          width: 100% !important;
          padding: 1% !important;
          p{
            font-size: smaller;
            color: inherit;
          }
        }
        .closeButton{
          position: absolute;
          margin-top: 0vh;
          margin-bottom: 0;
          top: -20%;
          left: 85%;
          background: #af262d;
          border-radius: 22px;
          font-size: 8vw;
          color: #fff;
          text-align: end;
          padding: 7px;
        }
      }
			.popup{
				background-color: #af262d;
        width: 100%;
        position: relative;
        height: 22% !important;
			}
			.popup-head {
				padding: 3%;
				border-bottom: 0px;
				text-align: center;
			}
			.popup-title {
				margin: 0;
				padding: 0;
				font-size: 15px;
				color: #fff;
			}
}
.termsPopup{
  .popup{

      width: 90%;
      height: 100%;
      background-color: #fff;
      top: 42vh;
  }
  .popup-head {
    padding: 15px 10px;
    border-bottom: 0px;
    text-align: center;
  }
  .popup-title {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #fff;
  }
}
//videoplayerpopup

.videoPlayerPopup{

  .popup{

      width: 100%;
      height: 60%;
      background-color: transparent;
      top: 42vh;
  }
  .popup-head {
    padding: 15px 10px;
    border-bottom: 0px;
    text-align: center;
  }
  .popup-body{
    padding: 0 !important;
  }
  .popup-title {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #fff;
  }
  .popup-container .popup {
    max-width: 100%;
    max-height: 100%;
  }

}

//

  .requestPopup{
  	.popup{
  		width: 85%;
  		border-radius: 10px;
  	}
  	.popup-head {
      padding: 0%;
      border-bottom: 1px solid #eee;
      text-align: center
  	}
  	.popup-title {
          margin-top: 7%;
      i{
      font-size: 218%;
      margin-top: 9%;
      color: #6e9636;
      }
  	}
    .popup-body{
          text-align: center;
          font-size: 120%;
    }
  	.popup-buttons {
  		padding: 0;
  		min-height: 0;

  	}
  		.popup-buttons .button {
  		border-radius: 0;
  		margin-right: 0;
  		color: #fff;

  		}
  		.button-royal{
  			background-color: #9e3136 !important;
  		}
  		.button-positive{
  			background-color: #6a9136 !important;

  		}
  }


	.selectImageFrom{
		.popup{
			width: 85%;
			border-radius: 10px;
		}
		.popup-head {
			padding: 0%;
			border-bottom: 1px solid #eee;
			text-align: center
		}
		.popup-title {
			margin-top: 7%;
			i{
			font-size: 218%;
			margin-top: 9%;
			color: #6e9636;
			}
		}
		.popup-buttons {
			padding: 0;
			min-height: 0;
			height: 19% !important;

		}
			.button-assertive{
				background-color: #6a9136 !important;
				margin-right: 2px;
				height: 50% !important;
			}
			.button-royal{
				background-color: #6a9136 !important;
				margin-right: 0px;
				height: 50% !important;
			}
			.button-calm{
				background-color: red !important;
				width: 100% !important;
				position: absolute;
				margin: 19% 0 0 0;
			}
	}


  .inviteReviewPopup{
  	.popup{
  		width: 85%;
  		border-radius: 10px;
  	}
  	.popup-head {
      padding: 0%;
      border-bottom: 1px solid #eee;
      text-align: center
  	}
  	.popup-title {
      margin-top: 7%;
      i{
      font-size: 218%;
      margin-top: 9%;
      color: #6e9636;
      }
  	}
  	.popup-buttons {
  		padding: 0;
  		min-height: 0;

  	}
  		// .popup-buttons .button {
  		// border-radius: 0;
  		// // color: #28a54c;
      //
  		// }
  		.button-royal{
  			background-color: #6a9136 !important;
  		}
      .button-positive{
  			background-color: #6a9136 !important;
        margin: 0 2px 0 0;
  		}
  }
//video call request popup

.summaryPopup{
	.popup{
		width: 85%;
		border-radius: 10px;
    margin-top: -50%;
	}
	.popup-head {
    padding: 0%;
    border-bottom: 1px solid #eee;
    text-align: center
	}
	.popup-title {
        margin-top: 7%;
    i{
    font-size: 218%;
    margin-top: 9%;
    color: #6e9636;
    }
	}
	.popup-buttons {
		padding: 0;
		min-height: 0;

	}
		.popup-buttons .button {
		border-radius: 0;
		margin-right: 0;
		color: #fff;

		}
		.button-royal{
			background-color: #9e3136 !important;
		}
		.button-positive{
			background-color: #6a9136 !important;

		}
}

.videoPopup{
	.popup{
		width: 85%;
		border-radius: 10px;
	}
	.popup-head {
    padding: 0%;
    border-bottom: 1px solid #eee;
    text-align: center
	}
	.popup-title {
        margin-top: 7%;
    i{
    font-size: 218%;
    margin-top: 9%;
    color: #6e9636;
    }
	}
	.popup-buttons {
		padding: 0;
		min-height: 0;

	}
		.popup-buttons .button {
		border-radius: 0;
		margin-right: 0;
		color: #fff;

		}
		.button-royal{
			background-color: #9e3136 !important;
		}
		.button-positive{
			background-color: #6a9136 !important;

		}
}


.summaryPopup{
	.popup{
		width: 85%;
		border-radius: 10px;
    margin-top: -50% !important;
	}
	.popup-head {
    padding: 0%;
    border-bottom: 1px solid #eee;
    text-align: center
	}
	.popup-title {
        margin-top: 7%;
    i{
    font-size: 218%;
    margin-top: 9%;
    color: #6e9636;
    }
	}
	.popup-buttons {
		padding: 0;
		min-height: 0;

	}
		.popup-buttons .button {
		border-radius: 0;
		margin-right: 0;
		color: #fff;

		}
		.button-royal{
			background-color: #9e3136 !important;
		}
		.button-positive{
			background-color: #6a9136 !important;

		}
}


.menu .sidemenu-padding{
	padding-top: 7vh !important;
}
*
{
	color: $content-color;
}

.bar.app-top-bar
{
	background-color:$top-bar-bg;

	.title
	{
		color: $top-bar-color !important;
		font-family: Ubuntu,bold,sans-serif !important;
		font-size: 5vw;
		text-align: center;
		*
		{
			color: $top-bar-color !important;
		}
	}

	.button
	{
		color: $top-bar-color !important;
		*
		{
			color: $top-bar-color !important;
		}
	}
}

// Preload images aux styles (ratios)
// Auto generate ratios for the whole app (see: http://stackoverflow.com/a/18120181/1116959)
@each $ratio in $pre-img-ratios {
  .pre-img._#{nth($ratio, 1)}_#{nth($ratio, 2)}
  {
    // Conserve aspect ratio (see: http://stackoverflow.com/a/10441480/1116959)
    width: 100%;
  //  padding-bottom: #{(nth($ratio, 2) / nth($ratio, 1)) * 100}%;
  }
}

.pre-img
{
  position: relative;
  background-color: $pre-img-bg;

	// If the image is rounded
	&.rounded-image
	{
		border-radius: 50%;
	}

  &.finish-loading
  {
    background-color: transparent;
    border: none;

		img
	  {
			visibility: visible;
			opacity: 1;
	  }
  }

  img
  {
    position: absolute;
		left: 0px;
		top: 0px;
		visibility: hidden;
		opacity: 0;
		@include transition(visibility 0s linear, opacity 0.5s linear);
  }
}

// spinner-on-load
@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(359deg));
  }
}
.spinner-on-load
{
	position: absolute;
	font-size: $spinner-size;
	width: $spinner-size;
	height: $spinner-size;
	line-height: $spinner-size;
  color: $spinner-color;
	@include animation(spin 2s infinite linear);
	@include calc(top, "50% - #{($spinner-size/2)}");
	@include calc(left, "50% - #{($spinner-size/2)}");
}
ion-spinner.spinner-on-load
{
	@include animation(none);
  stroke: $spinner-color;
	width: $spinner-svg-size;
  height: $spinner-svg-size;
	line-height: inherit;
	@include calc(top, "50% - #{($spinner-svg-size/2)}");
	@include calc(left, "50% - #{($spinner-svg-size/2)}");
}

// Multimedia background
.multi-bg-outer
{
  position: relative;
  background-color: rgba(darken($multi-bg, 10%), 0.7);
	width: 100%;
  height: 100%;
  @include transition(all ease-in-out .3s);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;

  &.finish-loading
  {
    background-color:transparent ; //none;
  }

  .bg-overlay
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $overlay-bg;
    z-index: -1;
    opacity: 0.6;
  }

  .multi-bg
  {
    display: none;
  }
}

.loading-container .loading
{
	background-color: $loading-background-color;
  *
  {
    color: darken($loading-color, 5);
		font-weight: 500;
  }
}

.back-btn-cls {
		font-size: 210% !important;
		padding: 0 0 0 5px;
		color: #fff;
}

.back-btn-cls-ios {
		font-size: 10vw !important;
		padding: 0 0 0 5px;
		color: #fff;
}

.action-sheet .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;

    background-color: transparent;
    color: black !important;
    font-size: 5vw;
		font-family: Ubuntu,bold,sans-serif !important;
}

.notifications-cls{
		font-size: 10vw;
    padding: 0px 0 0 7px;
    color: #fff;
		.badge.badge-positive {
			background-color: teal;
			padding: 3px 3px;
		}
}

.notify-badge{
		background-color: #b8272e;
		padding: 1px 6px;
		color: #fff;
		border: none;
	  position: absolute;
		border-radius: 50%;
		z-index: 999;
    // margin-left: 5vw;
    // margin-left: -7px;
}

.notify-badge-ios{
      background-color: #b8272e;
      padding: 1px 6px;
      color: #fff;
      border: none;
      position: relative;
      border-radius: 50%;
      z-index: 999;
      height: 50%;
      // margin-left: 5vw;
      // margin-left: -7px;
}

.platform-ios{
	.toggle-item.item{
		top:20px;
	}
}

.doctor-status{
	 padding: 10px 10px 10px 10px;
	 float: right;
	 margin-top: 2vh;
	 background-color:#b5262e !important;// $profile-bg;
	 border-radius: 50%;
	 width: 2vw;
 }

 .popup-body {
  padding: 20px;
  overflow: scroll;
  text-align: justify;
	font-family: Ubuntu,bold,sans-serif !important;

}

.search-side-menu {
  background-color: white !important;
}

.input-label{
	width: 14% !important;
}
.radio_bg
{
	background-color: white;
}

//ratings
.ionic_rating_icon_on{
	font-size: 15px;
	color: teal;
}
.ionic_rating_icon_off{
	font-size: 15px;
	color: inherit;
}
//favorite Css

.toggle-position{
	width: 23%;
	position: relative;
	margin-top: -41px !important;
	z-index: 999;
	float: right;
}

.item-checkbox-right .checkbox input,
.item-checkbox-right .checkbox-icon {
  float: right;
}

.item-checkbox.item-checkbox-right {
  /*the default item padding*/
  padding: 15px;
}
.show-hide-input{
  width: 80%;
  margin: 0 auto;
  // padding-left: 4vw;ßßßßßß
  // height: 100%;
  input[type="text"]{
    font-size: 4vw;
    padding-top: 2vh;
    padding-left: 4vw;
    /* margin-top: 1vh; */
    height: 9%;
    font-family: Ubuntu,bold,sans-serif !important;
    margin: 0 auto;
    width: 100%;
    // height: 100%;
  }
  .formFields{
		font-size: 4vw;
		padding-top: 2vh;
		padding-left: 4vw;
	 	margin-top: 1vh;
		height: 20% !important;
		font-family: Ubuntu,bold,sans-serif !important;
		// margin: 0 auto;
		width: 100%;
		// height: 100%;
	}

}


//////////////////////ngTagsInput??????????????????????????


tags-input {
    display: block
}

tags-input *,tags-input :after,tags-input :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

tags-input .host {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100%
}

tags-input .host:active {
    outline: 0
}

tags-input .tags {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    box-shadow: 1px 1px 1px 0 #d3d3d3 inset;
    height: 100%
}

tags-input .tags.focused {
    outline: 0;
    -webkit-box-shadow: 0 0 3px 1px rgba(5,139,242,.6);
    -moz-box-shadow: 0 0 3px 1px rgba(5,139,242,.6);
    box-shadow: 0 0 3px 1px rgba(5,139,242,.6)
}

tags-input .tags .tag-list {
    margin: 0;
    padding: 0;
    list-style-type: none
}

tags-input .tags .tag-item {
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 26px;
    line-height: 25px;
    border: 1px solid #acacac;
    border-radius: 3px;
    background: -webkit-linear-gradient(top,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
    background: linear-gradient(to bottom,#f0f9ff 0,#cbebff 47%,#a1dbff 100%)
}

tags-input .tags .tag-item.selected {
    background: -webkit-linear-gradient(top,#febbbb 0,#fe9090 45%,#ff5c5c 100%);
    background: linear-gradient(to bottom,#febbbb 0,#fe9090 45%,#ff5c5c 100%)
}

tags-input .tags .tag-item .remove-button {
    margin: 0 0 0 5px;
    padding: 0;
    border: none;
    background: 0 0;
    cursor: pointer;
    vertical-align: middle;
    font: 700 16px Arial,sans-serif;
    color: #585858
}

tags-input .tags .input.invalid-tag,tags-input .tags .tag-item .remove-button:active {
    color: red
}

tags-input .tags .input {
    border: 0;
    outline: 0;
    margin: 2px;
    padding: 0 0 0 5px;
    float: left;
    height: 26px;
    font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif
}

tags-input .tags .input::-ms-clear {
    display: none
}

tags-input.ng-invalid .tags {
    -webkit-box-shadow: 0 0 3px 1px rgba(255,0,0,.6);
    -moz-box-shadow: 0 0 3px 1px rgba(255,0,0,.6);
    box-shadow: 0 0 3px 1px rgba(255,0,0,.6)
}

tags-input[disabled] .host:focus {
    outline: 0
}

tags-input[disabled] .tags {
    background-color: #eee;
    cursor: default
}

tags-input[disabled] .tags .tag-item {
    opacity: .65;
    background: -webkit-linear-gradient(top,#f0f9ff 0,rgba(203,235,255,.75) 47%,rgba(161,219,255,.62) 100%);
    background: linear-gradient(to bottom,#f0f9ff 0,rgba(203,235,255,.75) 47%,rgba(161,219,255,.62) 100%)
}

tags-input[disabled] .tags .tag-item .remove-button {
    cursor: default
}

tags-input[disabled] .tags .tag-item .remove-button:active {
    color: #585858
}

tags-input[disabled] .tags .input {
    background-color: #eee;
    cursor: default
}

tags-input .autocomplete {
    margin-top: 5px;
    position: absolute;
    padding: 5px 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2)
}

tags-input .autocomplete .suggestion-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 280px;
    overflow-y: auto;
    position: relative
}

tags-input .autocomplete .suggestion-item {
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #fff
}

tags-input .autocomplete .suggestion-item.selected,tags-input .autocomplete .suggestion-item.selected em {
    color: #fff;
    background-color: #0097cf
}

tags-input .autocomplete .suggestion-item em {
    font: normal 700 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #fff
}
