.patient-reg-1-view
{
	width: 100% !important;
	height: 100% !important;
	font-family: Ubuntu,bold,sans-serif !important;

	ion-content	{
		-webkit-overflow-scrolling: touch !important;
		overflow: scroll !important;
	}

	.bar-header .bar-light{
		background: transparent !important;
	}
	.top-content{

			height: 35% !important;
			.regTitle{
				width: 80% !important;
				height: 100% !important;
				margin: 0 auto !important;
				// background-color: red !important;

				.regHeader{
					position: absolute !important;
					width: 80% !important;
					margin: 0 auto !important;
    			// margin-top: 7vh !important;
					.backButton{
						i{
							position: absolute;
							font-size: 210%;
						}
						p{
							margin-top: 9%;
							font-size: 145%;
							margin-left: 6%;
							text-align: center;
						}
					}
					.regFlowImg{
						width: 80% !important;
						margin: 0 auto;;

						img{
							width: 100%;
							margin-top: 2vh;
						}
					}
					.regMsg{
						width: 85% !important;
						margin: 0 auto !important;
						p{
							margin-top: 7%;
					    font-size: 100%;
					    text-align: center;
					    width: 100%;
						}

					}
				}
			}
	}
	.form-content{
		height: 45% !important;
		margin-top: 0 !important;
		// background-color: blue !important;

			.form-group{
				width: 80% !important;
				margin: 0 auto;

				input[type="text"]{
				margin-top: 4% !important;
				height: 18% !important;
				padding-left: 10px;
				width: 100% !important;
				// height: 100%;
				}
			}

				input[type="date"]{
					margin-top: 4% !important;
					height: 18% !important;
					width: 100% !important;
					padding: 20px 0 0 8px;
					background-color: white;
					// height: 100%;
				}
				input[readonly]:not(.cloned-text-input){
					background-color: white !important;

				}
	}
	.bottom-content{
		height: 17% !important;
		// background-color: teal !important;
		.login_button {
					background-color: #6aa13e;
					color: #ffffff;
					height: 9% !important;
					width: 80%;
					margin: 0 0 0 10%;
					// position: absolute;
				span{
					color:#dbe5d3 ;
					font-size: 100% !important;
				}
			}
		.tAndC{
			width: 80% !important;
			height: 20% !important;
			margin: 0 auto;
			.terms{
				// width: 80% !important;
				height: 100% ;
				margin: 0 auto;
				h2{
					font-size: 80%;
					color: #fff;
					text-align: center;
					margin-top: 3%;
    			line-height: 1.5;
					a{
						color: inherit !important;
						text-decoration: underline !important;
					}
				}
			}

		}

		.button-stable{
			background-color: #6aa13e;
		}
		.button-stable.activated{
			background-color: #557a23 !important;
		}
		.button-calm.activated{
			background-color:#026451!important;
		}
	}

}
